<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <servlet-name>ServletAlumno</servlet-name>
    <servlet-class>univer.servlets.ServletAlumno</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletValidador</servlet-name>
    <servlet-class>univer.servlets.ServletValidador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlumno</servlet-name>
    <url-pattern>/alumnoMan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletValidador</servlet-name>
    <url-pattern>/validador</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>35</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletCurso</servlet-name>
    <servlet-class>univer.servlets.ServletCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCurso</servlet-name>
    <url-pattern>/cursoMan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletMatricula</servlet-name>
    <servlet-class>univer.servlets.ServletMatricula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMatricula</servlet-name>
    <url-pattern>/matriculaMan</url-pattern>
  </servlet-mapping>
</web-app>